<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">MRS</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/directors">Directors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/serieses">Serieses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/movies">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/toprated-movies">Top Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/toprated-serieses">Top Serieses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/toprated-nonenglish-movies">Top
                        Non-English Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/toprated-nonenglish-serieses">Top
                        Non-English
                        Serieses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/skilled-directors">Uni-Director</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/top-directors">Top Directors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/trending">Trending</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/active-reviewers">Reviewers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/logout">Signout</a>
                </li>
            </ul>
        </ul>
        <form class="d-flex" class="d-flex" method="POST" action="{{url}}">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
    </div>
    </div>
</nav>