<div class="header">
 <div class="items">
    <a href="/search">Search posts</a>
     <a href="/add-author">Add an author</a>
     <a href="/create-a-post">Add a post</a>
     <a href="/">Home</a>
 </div>
</div>