.form input[type=text] {
  padding: 10px;
  font-size: 17px;
  float: left;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 50px;
  font-family: 'Chilanka', cursive;
  width: 30%;
  background: #f1f1f1;
  border-width: 0;
  border: none;
}


.btn:hover {
  background: #dfe4ea;
}

form::after {
  content: "";
  clear: both;
  display: table;
}
