/*
Jacob Yousif
A01
This a reusable component for the HTML document.
*/

html {
  background-color: #0984e3;
  color: #000;
  font-weight: 300;
  font-size: 15px;
  min-width: 480px;
  height: fit-content;
}

body {
  margin: 0;
  height: fit-content;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  margin-bottom: 20px;
  padding: 0;
  box-sizing: border-box;
}
