{{> header}}
<form action="/directors/add-director" method="POST">
      <section class="sec3">
            <h2>Director information:</h2>
            <label for="firstName">First Name:</label><br>
            <input type="text" id="firstName" name="firstName" placeholder="First Name" required><br>
            <label for="lastName">Last Name:</label><br>
            <input type="text" id="lastName" name="lastName" placeholder="Last Name" required><br>
            <label for="age">Age:</label><br>
            <input type="number" min="18" id="age" name="age" placeholder="Age" required><br>
            <label for="origin">Origin:</label><br>
            <input type="text" id="origin" name="origin" placeholder="Origin" required><br>
            <br />
            <input type="submit" value="Add"><br>
      </section>
</form>
{{> bottom}}
</main>