{{> header}}
<main class="sec2" class="table-responsive">
  <section class="sec3">
   <h2>Best Movie Information:</h2>
   <form action="/best-box/add-to-bestbox" method="POST">
    <label for="name">Select Movie:</label><br>
    <select name="name" id="name" required>
     {{#if rows.length}}
     {{#each rows}}
     <option value="{{this.name}}|{{this.id}}">{{this.name}}</option>
     {{/each}}
     {{/if}}
    </select>
    <br> <br>
    <label for="rating">Rating:</label><br>
    <input type="number" min="1" max="100" id="rating" name="rating" placeholder="Rating: 1-100" required><br>
    <label for="budget">Budget in USD:</label><br>
    <input type="number" min="1" id="budget" name="budget" placeholder="Budget in USD" required><br>
    <label for="gross">Gross in USD:</label><br>
    <input type="number" min="1" id="gross" name="gross" placeholder="Gross in USD" required><br>
    <label for="awards">Number of Award[s]:</label><br>
    <input type="number" min="0" id="awards" name="awards" placeholder="Number of awards" required><br>
    <br>
    <label for="reviews"> Reviews:</label><br>
    <textarea id="reviews" name="reviews" rows="12" cols="50" placeholder="Write the reviews here...."></textarea>
    <input type="submit" value="Add"><br>
   </form>
  </section>
  {{#if message.length}}
  <div class="div2">
   <p class="line"> {{message}} </p>
  </div>
  {{/if}}
 </main>