<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Web site created using create-snowpack-app" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" href="css/html.css">
        <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/header.css">
        <link rel="stylesheet" href="css/style_form.css">
        <link rel="stylesheet" href="css/html.css">
        <title>Add Post</title>
    </head>

<body>
    <%- include('../partials/panel_header.ejs') %>
    <main class="sec2">

        <section class="sec3">
            <h2>Post:</h2>
            <form action="/create-a-post" method="POST">
                <form>
                    <label for="author">Select Author:</label><br>
                     <select name="author"> 
                        <option value="anonymous">Anonymous</option> 
                     </select> 
                </form>
                <form>
                    <label for="category">Select Category:</label><br>
                     <select name="category"> 
                        <option value="General">General</option> 
                        <option value="Computer Science">Computer Science</option> 
                        <option value="Mathematics">Mathematics</option> 
                        <option value="Finance">Finance</option> 
                        <option value="Politics">Politics</option> 
                        <option value="Health and Safety">Health and Safety</option> 
                        <option value="Entertainment">Entertainment</option> 
                        <option value="Education">Education</option> 
                        <option value="Food">Food</option> 
                     </select> 
                </form>
                <label for="title">Title:</label><br>
                <input type="title" id="title" name="title" placeholder="Title"  required><br>
                <br>
                <textarea id="post" name="post" rows="12" cols="50" placeholder="Write your post here...." required></textarea>
                <br/>
                <input type="submit" value="Post"><br>
            </form>
        </section>
    </main>
    
</body>

</html>

