<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <meta name="description" content="Web site created using create-snowpack-app" />
 <link rel="stylesheet" type="text/css" href="/css/index.css" />
 <link rel="stylesheet" href="/css/header.css">
 <link rel="stylesheet" href="/css/html.css">
 <title>ERROR</title>
</head>

<body>
 <%- include('../partials/default.ejs') %>
 <h1>Code 500 - Internal Error</h1>
 <h2 class="h">Sorry, there is an error in the server side.</h2>
</body>

</html>