<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <meta name="description" content="Web site created using create-snowpack-app" />
 <link rel="stylesheet" type="text/css" href="/css/index.css" />
 <link rel="stylesheet" href="/css/header.css">
 <link rel="stylesheet" href="/css/html.css">
 <title>Page Not Found</title>
</head>

<body>
 <%- include('../partials/default.ejs') %>
 <h1>Forbidden!</h1>
 <h2 class="h">Only Authenticated people can access this page!.</h2>
</body>
</html>